# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.log

venv/
env/
.venv/
ENV/

*.sqlite3
*.db


.env
*.env
.env.*


*.pid


.coverage
.pytest_cache/
htmlcov/


.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db


node_modules/
dist/
build/