# --- Framework principal ---
fastapi       # Framework web para construir APIs
uvicorn[standard] # Servidor ASGI para correr FastAPI

# --- Base de datos ---
SQLAlchemy    # ORM para manejar la base de datos
alembic        # Migraciones de base de datos

# --- Validación y modelos ---
pydantic   # Validación de datos
pydantic-core  # Núcleo de Pydantic

# --- Extras útiles ---
python-dotenv   # Para manejar variables de entorno (.env)
requests       # Para hacer peticiones HTTP si lo necesitas

# --- Testing (opcional, si usas pytest) ---
pytest
psycopg2-binary